.App {
  text-align: center;
}

li {
  list-style-type: none;
}

li a {
  display: none;
}

.radio {
  align-self: center;
  margin: 10px 10px !important;
}

.paginationBttns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0 !important;
}

.previousBttn,
.nextBttn {
  display: flex;
  font-size: 50px;
  cursor: pointer;
  color: rgba(75, 192, 192, 0.6);
}

.previousBttn:hover,
.nextBttn:hover {
  color: rgba(27, 141, 141, 0.6);
}

.paginationDisabled {
  display: none;
}

.MuiRadio-colorPrimary.Mui-checked {
  color: rgba(27, 141, 141, 0.6) !important;
}

.center {
  text-align: center;
}
