.App {
  text-align: center;
}

li {
  list-style-type: none;
}

li a {
  display: none;
}

.radio {
  align-self: center;
  margin: 10px 50px !important;
}

.paginationBttns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previousBttn,
.nextBttn {
  display: flex;
  font-size: 50px;
  cursor: pointer;
}

.previousBttn:hover,
.nextBttn:hover {
  color: rgb(238, 209, 136);
}

.paginationDisabled {
  display: none;
}